body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff9ecd, #ffcce7);
    color: #333;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #ff72b6;
    color: white;
}

header button {
    background: white;
    color: #ff48a3;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
}

header button:hover {
    background: #ffe4f2;
}

section {
    padding: 30px;
    text-align: center;
}

.game-img {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 2px solid #ff72b6;
    padding: 10px;
}

table th {
    background-color: #ffb3db;
}

ul {
    display: inline-block;
    text-align: left;
}

footer {
    background: #ff72b6;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
